.ant-menu-light .ant-menu-item:hover{
    color: #f6b745!important;

}
.ant-menu-vertical .ant-menu-submenu-selected{
    color: #f6b745!important;

}
.ant-drawer-top.ant-drawer-open {
    position: absolute;
    top: 75px;
    height: auto;
}
.ant-menu-vertical{
    background-color: black;
}
.ant-drawer-body{
    background-color: black;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: inherit;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0 0 0 15px;
}
.ant-menu{
    color: white;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
    color: #f6b745!important;

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid #f6b745;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid #f6b745;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
    color: #f6b745!important;
}
.ant-menu-light .ant-menu-item{
    color: white;
}
.ant-menu-submenu-popup > .ant-menu {
    background-color: rgba(246, 183, 69,0.6);
}
.ant-drawer-top.ant-drawer-open{

position: absolute;
top:75px;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover{
    color: #f6b745!important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after{
    border-bottom: 2px solid #f6b745;
} 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover{
    color: #f6b745!important;

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after{
    border-bottom: 2px solid #f6b745;

}
.ant-menu-light .ant-menu-submenu-title:hover {
    color: #f6b745!important;
}
/* .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu::after:hover{
    color: #f6b745;
} */
.mobileHidden{
    display: flex;
    justify-content: flex-end;
    height: auto;
    background: inherit;
color: white;
border: none;
}
.mobileVisible{
    display: none;
}
@media screen and (max-width: 992px) {

  .ant-menu-submenu-popup {
        position: absolute;
        z-index: 1050;
        border-radius: 2px;
        box-shadow: none;
        transform-origin: 0 0;
        top: 0;
        right: 0px;
        /* top: -700px !important; */
        background: #f6b745!important;
    }
    .mobileHidden {
height: 0;
visibility: hidden;    }
.mobileVisible{
    display: block!important;
}
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item{
      padding:  0 0 0 10px;
  }
  .ant-btn-primary:active,
  .ant-btn-primary:focus,
  .ant-btn-primary{
      background-color: #f6b745;
      border: WHITE;
  }
  
  .ant-btn-primary:hover{
background-color: white;
border: #f6b745;
  }
  .ant-btn-primary:hover svg{
      color: black;
  }
  .ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow{
      color: white;
  }
  .ant-drawer-close,
  .ant-drawer-close:hover{
    
      color: white;
  }