.uploadPhotoContainer{
  height: 230px;
width: 100%;
background: gray;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
@media only screen and (min-width: 992px) {
.tableLarge{
display: block!important;   
}
.tableSmall{
 display: none!important;
}

} 


.tableLarge{
display: none;   
}
.tableSmall{
 display: block;
}
@media only screen and (max-width: 992px) {

} 

.tableSmallContainer{
  display: flex;
  flex-direction: row!important;
}


.adminPage{
  background-color: white;
  min-height: 100vh;
  padding: 50px 30px;
}

.buttonNormal{
  background: rgb(246, 183, 69) none repeat scroll 0% 0%;
border: medium none;
padding: 10px 15px;
color:black;
font-weight: bold;
font-size: 16px;
cursor: pointer;
border: 1px rgb(246, 183, 69) solid;
height: auto!important;
width: auto!important;
}
.buttonTable{
  background: rgb(246, 183, 69) none repeat scroll 0% 0%;
  border: medium none;
  padding: 7px 18px;
  color:black;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: 1px rgb(246, 183, 69) solid;
  height: auto!important;
  width: auto!important;
}
.buttonTable:hover{
  background:black;
  color:rgb(246, 183, 69);
}
.buttonNormal:hover{
  background:black;
  color:rgb(246, 183, 69);
}

.pageHeading{
    margin: 70px auto 120px;
}
@media screen and (max-width: 467px) {
  
  .ant-modal{
    width: auto!important;
    padding: 0 4px;
  }
}