/* @include media-breakpoint-up(sm) { 
  headerinfo {
    text-align: center;
  }
  .headerinfo .h1tag{
  padding-top: 3rem;
  }

 }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... } */
.contactImage{
  background-image: url('../assests/card4image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid white;
  z-index: 1;
  background-position: center center;
}
.contactImage::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.article-margin{
  margin-bottom: 50px;
}
.buttonNormal{
  background: rgb(246, 183, 69) none repeat scroll 0% 0%;
border: medium none;
padding: 10px 15px;
color:black;
font-weight: bold;
font-size: 16px;
cursor: pointer;
border: 1px rgb(246, 183, 69) solid;
}
.buttonNormal:hover{
  background:black;
  color:rgb(246, 183, 69);
}
.buttonReverse{
  background: black;
  color: rgb(246, 183, 69);
border: medium none;
border: 1px black solid;
padding: 10px 15px;
cursor: pointer;
font-weight: bold;
font-size: 16px;
}
.buttonReverse:hover{
  color:black;
  background:rgb(246, 183, 69);
}
.topTitle{
  font-weight: bold; margin-bottom:20px;
}
.middleTitle{
  margin-bottom:30px;

}
.paragraph{
  margin-bottom:50px;

}
.section{
  min-height: 80vh;
  padding: 60px 0;
}
.h1tag {
  font-size: 65px;
  background: #f6b745;
  padding-top: 4rem;
  -webkit-background-clip: text;
  font-weight: 1200;
  font-family: 'Ubuntu', sans-serif!important;

  -webkit-text-fill-color: transparent;
}
.headerinfo{
  padding-top: 85px;
  text-align: left;
  padding-left: 0;
  margin-left: 9px!important;
}
.articleExerpt{
  margin-top: 0;
}
@media screen and (max-width: 992px) {
  .articleExerpt{
    margin-top: 30px!important;
  }
  /* .ant-modal{
    width: auto!important;
    padding: 0 20px;
  } */
  .headerinfo {
    
  }
  .h1tag{
    padding-top: 6rem!important;
  }
}
@media screen and (max-width: 768px) {
  /* .headerinfo {
    margin-bottom: 50px!important;
    
    
  } */
  /* .ant-modal{
    width: auto!important;
  } */
  .h1tag {
    background: #f6b745;
    -webkit-background-clip: text;
    font-size: 55px!important;
    font-family: 'Ubuntu', sans-serif!important;
    padding-top: 4rem!important;

  }
  .social-footer2{
    text-align: center;
  }
  .fBox{
    text-align: center!important;
  }

}
@media screen and (max-width: 467px) {
  .headerinfo {
    text-align: center;
    padding-top: 60px;
    /* .ant-modal{
      width: auto!important;
    } */

    
    
  }
  .ant-modal{
    width: auto!important;
    padding: 0 4px;
  }
  .social-footer2{
    text-align: center;
  }
  .h1tag{
    padding-top: 5rem!important;
    font-size: 50px!important;
  }
}
.color-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(5, 5, 0, 0.8);
}
.navbar-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(5, 5, 0, 0.7);
}
.color-header-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 350px;
  background-color: rgba(5, 5, 0, 0.7);
}


/* publication ::-webkit-progress-value */
.publicationBanner{
  background-image: url("../assests/publicationcard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  z-index: 1;
  padding: 30px 0px;
}

.publicationBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


.bookWriter{
  margin-top: -5px;
  font-size: 16px !important;
}
.imageFrame{
  background: black;
height: 296px;
width: 90%;
padding: 20px;
}


/* news */
.newsBanner{
  background-image: url("../assests/news2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  z-index: 1;
  padding: 30px 0px;
}
.newsBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* newspost */
.newsPostBanner{
  background-image: url("../assests/news2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  z-index: 1;
  padding: 30px 0px;
}
.newsPostBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* blogpost */
.blogPostBanner{
  background-image: url("../assests/news2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  z-index: 1;
  padding: 30px 0px;
}
.blogPostBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* newspost */
.articlePostBanner{
  background-image: url("../assests/news2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  z-index: 1;
  padding: 30px 0px;
}
.articlePostBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* article */
.articleBanner{
  background-image: url("../assests/publicationcard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.articleBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* blog */
.blogBanner{
  background-image: url("../assests/penpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 30px 0px;
}
.blogBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* our partners */
.ourPartnersBanner{
  background-image: url("../assests/sponsor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 30px 0px;
}
.ourPartnersBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* get involved */
.getInvolvedBanner{
  background-image: url("../assests/sponsor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.getInvolvedBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* about us banner */
.aboutUsBanner{
  background-image: url("../assests/sixthimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.aboutUsBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* visionAndMission banner */
.visionAndMissionBanner{
  background-image: url("../assests/aboutcard4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.visionAndMissionBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* ourteam banner */
.ourTeamBanner{
  background-image: url("../assests/card3image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.ourTeamBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* gallery banner */
.ourGalleryBanner{
  background-image: url("../assests/video.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.ourGalleryBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* supportus banner */
.supportUsBanner{
  background-image: url("../assests/video.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.supportUsBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* resource banner */
.resourceBanner{
  background-image: url("../assests/publicationcard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.resourceBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* donateus banner */
.donateUsBanner{
  background-image: url("../assests/aboutcard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.donateUsBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* books banner */
.booksBanner{
  background-image: url("../assests/palpasa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.booksBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* resources banner */
.resourcesBanner{
  background-image: url("../assests/penpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.resourcesBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* beMember banner */
.beMemberBanner{
  background-image: url("../assests/joinhands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.beMemberBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* sponser banner */
.sponserBanner{
  background-image: url("../assests/video.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.sponserBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* pressRelease banner */
.pressReleaseBanner{
  background-image: url("../assests/publicationcard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.pressReleaseBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


/* support banner */
.supportBanner{
  background-image: url("../assests/oldlady.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.supportBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

/* contactUsbanner */
.contactUsBanner{
  background-image: url("../assests/aboutcard1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 30px 0px;
}
.contactUsBanner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}




/* news button */
.newsButton{
  background: black;
  color: rgb(246, 183, 69);
border: medium none;
border: 1px black solid;
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size: 14px;

}

.newsButton:hover{
  padding: 10px;
  color:black;
  background:rgb(246, 183, 69);
}

.newsContainerImage{
  /* display: flex;
justify-content: center;
align-items: center; */
background: white;
/* height: 100%; */
height: 200px;
width: 90%;
padding: 20px;
}
.newsContainerImage img{
  /* height: 80%; width: 80%;  padding: 15px; */
  height: 160px;
width: 80%;
}

/* form */
.inputContainer{
  padding: 0 10px;

}
.inputBox input{
  width: 100%;
  background: #f6b745;
  border: 1px solid black;
  padding: 5px;

  /* display: flex; */

}
.inputBox input:focus, .inputBox input:active{
  border: 1px solid black;

}

.inputBox textarea{
  width: 100%;
  background: #f6b745;
  border: none;
  padding: 5px;

  /* display: flex; */

}

.inputField{
  margin-bottom: 30px;
}

.inputBelow{
  font-size: 12px!important;
}

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  text-align: left;
}



.about-image{
background-color: pink;
position: relative;
z-index: 1;
margin:60px 0;
width: 230px;
height: 350px;

}
.about-image::before{
  content: '';
  width: 250px;
height: 400px;
  background-image: url("../assests/longone.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -130px;
top: -92px;
  


}
.about-image::after{
  content: '';
  width: 250px;
height: 400px;
  background-image: url("../assests/thirdimage.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 90px;
top: 42px;


}


input::-webkit-input-placeholder,
input::-moz-placeholder, 
input:-ms-input-placeholder  
{  
    color: red !important;  
    opacity: 1!important;
}

.formPadding{
  position: relative;
  margin-bottom: 30px;
}

.formPadding label{
  position: absolute;
  position: absolute;
  left: 10px;
  top: -25px;
  color: white;
}

.MuiButtonBase-root {
  
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(246, 183, 69)!important;
border: medium none;
padding: 15px 30px;
color:black;
font-weight: bold;
font-size: 18px;
cursor: pointer;
border: 1px rgb(246, 183, 69) solid;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4{
  box-shadow: none;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;

}

.MuiTabs-flexContainer{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.videoButton{
  height: 50px;
width: 50px;
position: absolute;
background: #f6b745;
border-radius: 50%;
top: 50%;
display: flex;
justify-content: center;
align-items: center;
left: 50%;
transform: translate(-50%,-50%);
z-index: 2;
opacity: 0.8;
cursor: pointer;
}

.ant-modal{
  width: 600px;
}

.ourStory{

  background-image: url("../assests/video.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
width: 100%;
}

.gridBox{
  width: "100%";
  height: 190px;
  border: 1px solid black;
  position: relative;
  background-position: center center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
}

.flatBox{
  background-image: url("../assests/secondimage.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 380px;
  border: 1px solid black;
  position: relative;
 
}

.massiveBox{
background-image: url("../assests/thirdimage.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 760px;
  width: 100%;
  border: 1px solid black;

  
}

.lastBox{
  background-image: url("../assests/video.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 190px;
    width: 100%;
    border: 1px solid black;

    
  }

  .videoDescription{
    position: absolute;
background: rgba(0,0,0,0.6);
color: white !important;
left: 0;
bottom: 0;
width: 100%;
z-index: 10;
cursor: pointer;
visibility: hidden;
  }
  .videoDescription h3{
    color: #f6b745!important;
  }
.show:hover .videoDescription{
  visibility: visible;
}

.articleBox{
  padding: 90px;
}

.articleHeader{
  padding-top: 100px;
}