@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
* {
  margin: 0;
font-family: 'Andika', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  overflow-x: hidden;
width: 100vw!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    sans-serif "Courier New", monospace;
}
p{
  font-size: 18px!important;
}
h2{
  font-size: 32px!important;
  font-weight: bold !important;

}
h3{
  font-size: 20px!important;
  font-weight: bold!important;

}
.dualTitle{
  margin-top: 50px;
}
.topTitle{
  margin-bottom: 30px;
}