@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf")
  /* /src/fonts/helvetica-compressed-5871d14b6903a.otf"); */
  }
* {
  margin: 0;
/* font-family: 'Andika', sans-serif!important; */
font-family: Helvetica!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  width: 100vw !important;
  /* overflow-x: hidden!important; */
}

body{
  overflow-x: hidden!important;
width: 100vw!important;
}
/* @media screen and (max-width: 992px) {
  body{
    overflow-x: hidden!important;
  width: 100vw!important;
  }
}
@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden!important;
  width: 100vw!important;
  }
} */
#root{
  width: 100vw;
overflow-x: hidden;
white-space: pre-line;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    sans-serif "Courier New", monospace;
}
p{
  font-size: 18px!important;
}
h2{
  font-size: 32px!important;
  font-weight: bold !important;

}
h3{
  font-size: 20px!important;
  font-weight: bold!important;

}
.dualTitle{
  margin-top: 50px;
}
.topTitle{
  margin-bottom: 30px;
}